body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #fff;
}

.gradient {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(20,41,228,1) 34%, rgba(34,193,195,1) 100%);
  color: #fff;
}

.mode {
  float: right;
  font-size: 22px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: left;
  text-transform: uppercase;
}
h4 {
  text-align: center;
}

.head_grid {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-left: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px black solid;
  margin-left: 1.5em;
  margin-top: -8px;
  margin-bottom: -8px;

}
@media all and (max-width: 499px) {
  .grid {
    grid-template-columns: fit-content(100%);
    grid-gap: 0px;
  }
}
.exp {
  text-align: left;
}
.date {
  text-align: left;
}
.bullet {
  margin-left: 1em;
}
.grid_bullet {
  margin-left: -8px;
}

figure {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
img {
  max-width: 100%;
  height: auto;
}
figcaption {
  font-family: "Trebuchet MS", sans-serif;
}
figure.main-image {
  border-color: #73264d;
  padding: 6px;
  border-width: 6px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content:
}
figure.section-image {
  border-color: #2d4386;
  padding: 4px;
  max-width: 30%;
  margin: .5em;
}
@media all and (max-width: 499px) {
  figure.section-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    min-width: min-content;
    max-width: 300px;
  }
}

p {
  color: #;
  font-size: px;
  margin-left: 30px;
}

div.goal {
  border: 1px black solid;
}


nav ul {
  list-style: none;
  padding: 0px;
}

@media all and (min-width: 415px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px;
}
nav ul li a:visited {
  color: #;
}

header nav ul li a:hover {
  color: #;
  background-color: blue;
}
header nav ul {
  font-size: 20px;
  text-align: right;
}

footer nav ul li a:hover {
  text-decoration: underline;
  color: #2d4386;
}

footer#page-footer {
  text-align: center;
  color: black;
  font-size: 18px;
  background-color: blue;
}
footer p{
  font-size: 14px;
  color: #fff;
}
